.money {
	color : red;
}

.fleft {
	float : left;
}

.fright {
	float : right;
}

.clear {
	clear : both;
}

.title_right {
	background: url("../images/bg_right_top.png") no-repeat scroll right top transparent;
    height: 35px;
    width: 290px;
}

.title_right a {
	color: white;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    margin-right: 10px;
}

.auction-type-1 {
	position : relative;
	height : 350px;
	width : 200px;
	background: url("../images/bg_bd.png") no-repeat scroll left top transparent;
}

.auction-type-1 .auction-title {
	height: 35px;
	padding : 15px 5px 5px;
	text-align: center;
}

.auction-type-1 .auction-title a {
	color: #0F74FB;
    font-size: 15px;
}

.auction-type-1 .auction-time {
	text-align : center;
	color: red;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.auction-type-1 .auction-image-container {
	padding : 5px;
	height : 129px;
	width : 163px;
}

.auction-type-1 .auction-image-container img {
	display : block;
	margin : 0px auto;
}

.auction-type-1 .auction-bid-cost {
	background: url("../images/bg_cuoc.png") no-repeat scroll left top transparent;
    top: 200px;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 35px;
}

.auction-type-1 .auction-price-container {
	padding : 5px 20px 0;
}

.auction-type-1 .auction-bidder-container {
	padding : 5px 20px 0;
}

.auction-type-1 .auction-rrp-container {
	background: url("/images/bg_muangay.png") no-repeat scroll left top transparent;
    color: #666666;
    display: block;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-left: 4px;
    margin-top: 11px;
    text-align: center;
    width: 200px;
}

.auction-type-1 .auction-bid-container .auction-bid-link {
	background: url("/images/button_bid.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 35px;
    margin-left: 14px;
    text-align: center;
    width: 180px;
    border : none;
    margin-top : 5px;
}

.auction-type-1 .auction-bid-container .auction-bid-link:hover {
	background: url("/images/button_bid_red.png") no-repeat scroll left top transparent;
}

.auction-type-1 .auction-bid-container .auction-bid-ended {
	background: url("/images/bg_xem_hetgio.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 35px;
    margin-left: 14px;
    text-align: center;
    width: 180px;
    margin-top : 5px;
}

.auction-type-2 {
	width : 700px;
	height : 100px;
	padding : 10px;
}

.auction-type-2 .auction-image-container {
	width : 100px;
	height : 80px;
}

.auction-type-2 .auction-information-container {
	width : 240px;
	height : 80px;
	padding-left : 10px;
}

.auction-type-2 .auction-information-container .auction-title {
    margin-bottom : 5px;
}

.auction-type-2 .auction-information-container .auction-title a{
	color: #0F74FB;
    font-size: 15px;
}

.auction-type-2 .auction-information-container .auction-description{
	overflow : hidden;
	height : 45px;
}

.auction-type-2 .auction-information-container .auction-rrp-container {
	color: #8C8B8B;
    font-size: 12px;
    margin-top : 5px;
}

.auction-type-2 .auction-status-container {
	width : 80px;
	height : 80px;
	padding-top : 15px;
}

.auction-type-2 .auction-status-container .auction-price-container {
	text-align: center;
	margin : 2px auto;
}

.auction-type-2 .auction-status-container .auction-bidder-container {
	text-align: center;
	color: #0970FA;
    font-size: 10px;
    margin-top: 2px;
}

.auction-type-2 .auction-time {
	color: #B60200;
    font-size: 18px;
    font-weight: bold;
    padding-top : 15px;
    margin-left : 20px;
}

.auction-type-2 .auction-bid-container {
    padding-top : 9px;
    margin-left : 15px;
}

.auction-type-2 .auction-bid-container a {
	background: url("../images/button_daugia_blue.png") no-repeat scroll left top transparent;
    display: block;
    height: 30px;
    width: 80px;
}

.auction-type-2 .auction-bid-container a:hover {
	background: url("../images/button_daugia_red.png") no-repeat scroll left top transparent;
}

.auction-type-3 {
	width : 275px;
	height : 70px;
	padding : 5px;
	position : relative;
}

.auction-type-3 .auction-image {
	margin-left :5px;
}

.auction-type-3 .auction-information-container {
	width : 180px;
	margin : 5px 10px;
}

.auction-type-3 .auction-information-container .auction-title {
	margin-right : 5px;
}

.auction-type-3 .auction-information-container .auction-title a {
	color: #1E8BDC;
    font-size: 12px;
}

.auction-type-3 .auction-information-container .auction-timewait-container {
	color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-right : 5px
}

.auction-type-3 .auction-information-container .auction-timewait-container .auction-timewait {
	font-weight : bold;
}

.auction-type-3 .auction-information-container .auction-book-container {
	margin-right : 5px;
	margin-top : 5px;
}

.auction-type-3 .auction-information-container .auction-book-container .auction-book-link{
	background: url("../images/button_xicho_blue.png") no-repeat scroll left top transparent;
    bottom: 10px;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 54px;
}

.auction-type-3 .auction-information-container .auction-book-container .auction-book-link:hover{
	background: url("../images/button_xicho_red.png") no-repeat scroll left top transparent;
}